<div class="wrapper">
    <div class="card" *ngIf="showSubmit">
            <h3>Would you like to add anything ?</h3>
            <textarea id="myTextarea" [rows]="5"></textarea>
            <div class="submit-button">
                <button type="button" class="btn continue" (click)="submit()">SUBMIT</button>
            </div>
    </div>
    <div class="card" *ngIf="showLastpage">
        <h3 style="text-align: center;">Thank you for your feedback !</h3>
        <div class="thumbs-up">
            <i class="fa-solid fa-thumbs-up fa-bounce"></i>
        </div>
    </div>
</div>
