.card{
    margin: 15px;
    padding-bottom: 20px;
}
.wrapper{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #223645;
}
h3{
    font-family: 'Times New Roman';
    text-align: left;
    margin: 15px;
    font-weight: 600;
}
textarea{
    margin: 10px 15px;
}
.submit-button{
    text-align: right;
    margin: 10px;
}
.thumbs-up{
    text-align: center;
    font-size: 80px;
    margin: 10px;
    color: 	#e12454;
}
.continue{
    background-color: #e12454;
    border-color: #e12454;
    color: white;
    font-weight: bold;
}