.card{
    margin: 15px;
    padding-bottom: 20px;
}
.wrapper{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #223645;
}
h3{
    text-align: left;
    margin: 15px;
    font-family: 'Times New Roman';
    font-weight: 600;
}
.option-container{
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px 18px;
    margin: 5px 15px;
    text-transform: capitalize;
    font-family: 'Times New Roman';
    font-size: 17px;
    font-weight: 600;
}
.submit-button{
    text-align: right;
    margin: 10px;
}
.skip{
    margin-right: 20px;
    font-weight: 600;
}
.continue{
    background-color: #e12454;
    border-color: #e12454;
    color: white;
    font-weight: bold;
}